@font-face {
    font-family: "Nunito Black";
    src: url('../font/Nunito-Black.ttf');
}

@font-face {
    font-family: "Nunito Black Italic";
    src: url('../font/Nunito-BlackItalic.ttf');
}

@font-face {
    font-family: "Nunito Bold";
    src: url('../font/Nunito-Bold.ttf');
}

@font-face {
    font-family: "Nunito Bold Italic";
    src: url('../font/Nunito-BoldItalic.ttf');
}

@font-face {
    font-family: "Nunito Extra Bold";
    src: url('../font/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: "Nunito Extra Bold Italic";
    src: url('../font/Nunito-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: "Nunito Extra Light";
    src: url('../font/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: "Nunito Extra Light Italic";
    src: url('../font/Nunito-ExtraLightItalic.ttf');
}

@font-face {
    font-family: "Nunito Italic";
    src: url('../font/Nunito-Italic.ttf');
}

@font-face {
    font-family: "Nunito Light";
    src: url('../font/Nunito-Light.ttf');
}

@font-face {
    font-family: "Nunito Light Italic";
    src: url('../font/Nunito-LightItalic.ttf');
}

@font-face {
    font-family: "Nunito Medium";
    src: url('../font/Nunito-Medium.ttf');
}

@font-face {
    font-family: "Nunito Medium Italic";
    src: url('../font/Nunito-MediumItalic.ttf');
}

@font-face {
    font-family: "Nunito Regular";
    src: url('../font/Nunito-Regular.ttf');
}

@font-face {
    font-family: "Nunito Semi Bold";
    src: url('../font/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: "Nunito Semi Bold Italic";
    src: url('../font/Nunito-SemiBoldItalic.ttf');
}

body {
    font-family: "Nunito Regular";
}